.le{
    background-color:lightgray;
}
p{
    text-align:center;
    color:#993738;
    font-weight: bold;
    font:Trebuchet MS;
}
th:last-child{
    text-align:right;
}
td{
    border: 1px solid #993738;
}
td:last-child{ /*Biết sài last-child rồi :Chọn thành phần cuối cùng mà có thành phần cha; ở đây cha của nó là Table */
    text-align: right;
    border: 1px solid #993738;
}
table{
    text-align: left;
    font:Arial;
    border:2px solid #993738;
    border-collapse:collapse; /*Gộp các viền lại */
}
#phai{
    width:100px;
}
#trai{
    width:250px;
}