/*Đặt biến CSS và các sử dụng 
:root{
    --color:green;
}

h1{
    color: var(--color);
}
*/
 :root{
    --border-top-color:#85C226;
    --border-right-color:#F7C200;
    --border-bottom-color:#4493a0;
    --border-left-color:#DF127B;
}
#border-color{
    border: 10px solid;
    border-color: var(--border-top-color) var(--border-right-color) var(--border-bottom-color) var(--border-left-color);
    font-weight: bold;
    text-align: center;
}
#border-style{
    border: 10px ;
    text-align: center;
    border-style:solid dotted groove double;
    border-color: var(--border-top-color) var(--border-right-color) var(--border-bottom-color) var(--border-left-color);
}
#border-width{
    text-align: center;
    border: 10px solid;
    border-color: var(--border-top-color) var(--border-right-color) var(--border-bottom-color) var(--border-left-color);
    border-width: 5px 10px 15px 20px;
}
td:first-child{
    font-weight: bold;
    background-color:lightgray;
}
td:last-child{
    text-align: right;
    width: 300px;
}
#border-radius{
    text-align: center;
    border: 10px solid ;
    border-color: var(--border-top-color) var(--border-right-color) var(--border-bottom-color) var(--border-left-color);
    border-radius: 0px 30px 70px 20px;
}
#adv-hemiphere{
    text-align: center;
    border-width: 4px 30px 4px 30px;
    border-style: groove ridge dashed groove;
    border-color: var(--border-top-color);
     border-radius: 100px 100px 0 0 ;
    -moz-border-radius: 100px 100px 0 0;
    -webkit-border-radius: 100px 100px 0 0; 
}
#round-rectangle{
    border-radius: 20px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
}
#adv-round-rectangle{
    text-align: center;
    border-width: 0px 12px 0px 12px;
    border-style: double;
    border-color: violet;
    border-radius:40px 40px 60px 60px;
    -moz-border-radius:40px 40px 60px 60px;
    -webkit-border-radius:40px 40px 60px 60px;
}
#bullet{
    text-align: center;
    border-radius: 20px 100px 100px 20px; 
    -moz-border-radius: 20px 100px 100px 20px;
    -webkit-border-radius: 20px 100px 100px 20px;
}
#adv-leaf{
    text-align: center;
    background: orange;
    border-width:4px 30px 4px 30px; border-style: solid;
    border-color: #56c6d9 #56c6d9 #fe2192 #fe2192;
    border-radius:0 120px 0 120px;
    -moz-border-radius:0 120px 0 120px; -webkit-border-radius:0 120px 0 120px;
}
button {
    width: 200px;
    padding:8px;
    background-color: #428bca;
    border-color: #357ebd;
    color: #ffffff;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -khtml-border-radius: 10px;
    text-align: center; vertical-align: middle;
    border: 1px solid transparent;
    font-weight: 900;
    font-size:125%;
}